body {
  font-family: "Inter", sans-serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;

  top: 0;
  z-index: 1000;
  background-color: white;
}

#menu {
  list-style-type: none;
  display: flex;
  gap: 40px;
}
#menu li a {
  text-decoration: none;
  color: black;
  font-size: large;
}

#logo button {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: large;
  margin-right: 15px;
}
#logo button:hover {
  background-color: #c4c2c271;
}

#banner {
  padding: 10px;
}
#banner img {
  width: 100%;
  height: auto;
}

main {
  padding: 0 100px;
}

/* #collection section */
#collection-title {
  text-align: center;
  margin: 40px 0 40px 0;
  font-size: 50px;
  font-weight: bold;
}

#collections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.collection img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.collection h3 {
  text-align: center;
  margin: 15px 0 20px 0;
  font-size: 25px;
}

.collection div {
  text-align: center;
}
.collection div button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: large;
  text-align: center;
}

/* #best-sellers section */
#best-sellers-title {
  text-align: center;
  margin: 40px 0 40px 0;
  font-size: 50px;
  font-weight: bold;
}

#best-sellers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.best-seller img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.best-seller h4 {
  text-align: center;
  margin: 18px 0 10px 0;
  font-size: 15px;
}

.best-seller p {
  text-align: center;
  font-size: 15px;
  margin: 0;
}
